{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        {{listing_form.as_p}}
        <select class="form-select col-md-3 my-3" name="categories">
            <option value="select" hidden>Select category</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category }}</option>
            {% endfor %}
        </select>
        <center><input class="btn btn-primary" type="submit" value="submit"></center>

    </form>
</div>
{% endblock %}
